<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h2>いいねした投稿</h2>
    </div>
  </div>
  <div class="card-deck">
    <% @like_posts.each do |post| %>
      <div class="col-md-4">
        <%= render "public/posts/index", post: post %>
      </div>
    <% end %>
  </div>
</div>